<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
 <% articles.forEach( (article ) => { %>
     <h1><%= article.title %> </h1>
     <h1><%= article.description %> </h1>
     <h1><%= article.markdown %> </h1>
<% }) %>
  </body>
</html>
